<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content1 {
            background-color: antiquewhite;
            height: 200px;
            padding: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #title {
            padding-top: 50px;
            font-family: 'Book Antiqua', serif;
            font-size: 50px;
            font-weight: bold;
        }
        .navbar {
            display: flex;
            padding-top: 200px;
            justify-content: flex-end;
            align-items: center;
        }
        .navbar a {
            margin-left: 20px; 
            text-decoration: none;
            color: black; 
            font-family: 'Book Antiqua',serif;
            font-size: 20px;
            padding: 20px;
            border-radius: 10px;
            cursor: pointer;
        }
        .navbar a:hover{
            background-color: gray;
            color: white;
        }
    </style>
</head>
<body>
    <div class="content1">
        <p id="title">Online Movie Finder</p>
        <div class="navbar">
            <a href="#">Home</a>
            <a href="#">Movies</a>
            <a href="/login" id="loginbtn">login</a>
        </div>
    </div>
</body>
</html>
